




.button {
    background: linear-gradient(to right, #05FDD8 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s ease-out;
  }
  
  .button:hover {
    background-position: left bottom;
    color: black;
   
  }

  .card {
    background: linear-gradient(to right, #05FDD8 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .7s ease-out;
  }
  
  .card:hover {
    background-position: left bottom;
    color: black;
   
  }